div
{
    width: 10px;
    height: 10px;
    background-color: aqua;
    border-radius: 50%;
   
}

table
{
    text-align: justify;
    width: 80vw;

    margin-left: 10vw;
    justify-content: center;

}
button{
    background-color: transparent;
    border: none;
    float: right;
}
button:hover
{
    border: none;
    color: red;
    background-color: transparent;

}

tr{
        background-color:azure;
        border-radius: 17px;
        
        /* border: 1px black solid; */
}    
th,td{
    background-color: #CC9934;
    margin: 5vh;
    border: 1vh solid black;
    border-radius: 25px;
    font-weight: 800;
}

li{
max-width: 150px;
/* background-color: ; */
}
h1
{
    text-align: center;
    font-weight: bolder;
    color: white;
}