h1{
  margin: 5vh;
}

.card
{


  background-color: rgb(235, 248, 248);
margin:13px ;
text-align: center;
color: #00a;
min-height: 150px;
min-height: 150px;
box-shadow: 4px 4px #ff0;
}
button{
  margin-top: 1vh;
  border: none;

}
.card-title
{
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline #f00 2px;
}

.container1
{
background-color: rgb(235, 248, 248);
}
.container
{


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
ul
{
  display: inline-flex;
  list-style-type: none;
  flex-direction: column;
}
li
{
  margin: -15px;
  
}

#eventdelbutton
{
  background-color: cyan;
  width: max-content;
  margin: 5px;
  border-spacing: 10px;
  border: 3px ridge cyan;
  border-radius: 27px;
  transition: 0.7s;
}
#eventdelbutton:hover{
  box-shadow: 3px 3px 3px 1px  black;
  margin-top: -10px;
}