/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
body
{
    background-repeat:repeat;
    background-size: contain;
    /* background-color: black; */
}

@font-face
{
    font-family:Acquire;
    src: url(Aquire-BW0ox.otf);
}
*{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Exo 2', sans-serif;

}
title{
    font-family: Acquire;
}
.selector
{
    background-image: url("../src/app/org-landing/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* backdrop-filter: blur(5px); */

}