<div class="container">
    <h1 style="text-align:center ;">EVENTS</h1>
<div class="row ">
<div *ngFor="let i of a" class=" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">


    <div class="card" style="width:vh;">
        <div class="card-body">
          <h5 class="card-title">{{i}}</h5>
          <p class="card-text"></p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repellat tempora officia temporibus ratione.
         <button>

          <a href="#" class="btn btn-primary">Register</a>

         </button>
        </div>
      </div>
    </div>
</div>
</div>
