<div class="back">
    <h1 style="text-align:center ;">ABOUT US</h1>
  
<div class="row  ">
                <div class="circ t1 col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
    <div class="contente ">
        
    <b>Adithyakrishnan Nandagopan
        
    </b>
    
        <p></p>
    
    
        <a href="https://www.linkedin.com/in/adithyak47/">
        <i style="font-size:24px" class="fab linkedinb linkedin">&#xf08c;</i>
    
    </a>
    
    &nbsp;
    <a href="https://github.com/adithyak-47">
    
        <i style="font-size:24px" class="fab githubb github">&#xf09b;</i>
    
    </a>
    </div>
    
    <img  class="img1" src="assets/adi.png" height="100" width="100" alt="">
        
    
                </div>
                <div class="circ col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
                    <div class="contente">
                    <b>Basil Paul</b>
                    <br><br>          
                        <a href="https://www.linkedin.com/in/basil-paul-7ab28a194/">
                        <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
                    
                    </a>
                    
                    &nbsp;
                    <a href="https://github.com/basilpaul01">
                    
                        <i style="font-size:24px" class="fab github">&#xf09b;</i>
                    
                    </a>
                    </div>
                    
                    <img  class="img1" src="assets/bas.png" height="100" width="100" alt="">
                        
                    
                                </div>
                                
                                <div class="circ col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
                                    <div class="contente">
                                    <b>Dilan Joseph</b>
                                    <br><br>         
                                    
                                        <a href="https://www.linkedin.com/in/dilan-joseph2000/">
                                        <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
                                    
                                    </a>
                                    
                                    &nbsp;
                                    <a href="https://github.com/harisankarcd">
                                    
                                        <i style="font-size:24px" class="fab github">&#xf09b;</i>
                                    
                                    </a>
                                    </div>
                                    
                                    <img  class="img1" src="assets/dil.png" height="100" width="100" alt="">
                                        
                                    
                                                </div><div class="circ col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="contente">
                                                    <b>Harisankar C D</b>
                                                    <br><br>                         
                                                    
                                                        <a href="https://www.linkedin.com/in/harisankar-c-d/">
                                                        <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
                                                    
                                                    </a>
                                                    
                                                    &nbsp;
                                                    <a href="https://github.com/harisankarcd">
                                                    
                                                        <i style="font-size:24px" class="fab github">&#xf09b;</i>
                                                    
                                                    </a>
                                                    </div>
                                                    
                                                    <img  class="img1" src="assets/har.png" height="100" width="100" alt="">
                                                        
                                                    
                                                          
          
    
    
        </div>
     
         
            <div class="circ ">
                <div class="contente">
                    
                <b>Soyal Sunny</b>
                <br><br>  
                    <a href="https://www.linkedin.com/in/soyal-sunny/">
                    <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
                
                </a>
                
                &nbsp;
                <a href="https://github.com/Soyalsunny">
                
                    <i style="font-size:24px" class="fab github">&#xf09b;</i>
                
                </a>
                </div>
                
                <img  class="img1" src="assets/soy.png" height="100" width="100" alt="">
                    
                
        </div>
          </div>
          
<div class="row description ">
      
            <p style="text-align:center;font-size:24px;">
            We're a group of engineering students who love to code , discover new things and desirous of making a career in the software industry.
            </p>
         
       
            
 </div>
        </div>