<h1 style="text-align:center ;color:rgb(7, 40, 7);">ABOUT US</h1>

        <div class="row">
            <div class="circ t1 col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
<div class="contente">
<b>Name one
</b>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, error?</p>


    <a href="#">
    <i style="font-size:24px" class="fab linkedinb linkedin">&#xf08c;</i>

</a>

&nbsp;
<a href="#">

    <i style="font-size:24px" class="fab githubb github">&#xf09b;</i>

</a>
</div>

<img  class="img1" src="assets/adi.png" height="100" width="100" alt="">
    

            </div>
            <div class="circ col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
                <div class="contente">
                <b>Lorem ipsum do</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, error?</p>
                
                
                    <a href="#">
                    <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
                
                </a>
                
                &nbsp;
                <a href="#">
                
                    <i style="font-size:24px" class="fab github">&#xf09b;</i>
                
                </a>
                </div>
                
                <img  class="img1" src="assets/bas.png" height="100" width="100" alt="">
                    
                
                            </div><div class="circ col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
                                <div class="contente">
                                <b>Lorem ipsum do</b>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, error?</p>
                                
                                
                                    <a href="#">
                                    <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
                                
                                </a>
                                
                                &nbsp;
                                <a href="#">
                                
                                    <i style="font-size:24px" class="fab github">&#xf09b;</i>
                                
                                </a>
                                </div>
                                
                                <img  class="img1" src="assets/dil.png" height="100" width="100" alt="">
                                    
                                
                                            </div><div class="circ col  col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
                                                <div class="contente">
                                                <b>Lorem ipsum do</b>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, error?</p>
                                                
                                                
                                                    <a href="#">
                                                    <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
                                                
                                                </a>
                                                
                                                &nbsp;
                                                <a href="#">
                                                
                                                    <i style="font-size:24px" class="fab github">&#xf09b;</i>
                                                
                                                </a>
                                                </div>
                                                
                                                <img  class="img1" src="assets/har.png" height="100" width="100" alt="">
                                                    
                                                
                                                      
      


    </div>

     
        <div class="circ ">
            <div class="contente">
            <b>Lorem ipsum do</b>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, error?</p>
            
            
                <a href="#">
                <i style="font-size:24px" class="fab linkedin">&#xf08c;</i>
            
            </a>
            
            &nbsp;
            <a href="#">
            
                <i style="font-size:24px" class="fab github">&#xf09b;</i>
            
            </a>
            </div>
            
            <img  class="img1" src="assets/soy.png" height="100" width="100" alt="">
                
            
    </div>
      </div>
   
